@import url("https://use.typekit.net/mez4yxz.css");
@import "./nav.css";
@import "./footer.css";

/*##################################*/
/* GENERAL SETTINGS */
/*##################################*/
h2,h1,h3{
    color: #44d62c;

  }
  h1{
    font-size:2rem;
  }
  p{
    color: #CCCCCC;
  }

  .button{
    text-decoration: none;
    color:#44d62c ;
  }
  .button:hover{
    text-decoration: none;
    color:#FF6633 ;
  }
  
  
  body {
    margin: 0;
    font-family: hack, sans-serif;
    background: #38444c;
    color:floralwhite;
  }

  .container{
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto;
    grid-gap: 1rem;
    /* grid-template-rows: 60px 45vh 45vh 45vh 45vh; */
    /* grid-auto-rows: minmax(400px, auto); */
    grid-template-columns:1fr;
    grid-template-areas: "nav"
                        "hero"
                        "prof"
                        "aud"
                         "imp"
                         "footer";
    justify-items: center;
    /* border: red 2px solid; */
  }

  .block-heading{
    text-align: center;
  }
  
  .block-heading h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 30px; */
    padding-bottom: 0;
    font-size: 1.5rem;
  
  
  }


/*##################################*/
/*sections*/
/*##################################*/
  .section{
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    padding: 5vh;
    
    /* border: rgb(0, 255, 128) 2px solid; */
  }


  .group_profit_rev{
    display: flex;
    flex-flow: row-reverse wrap;
    padding: 20px;
  }
  
  .group_profit_rev p {
    max-width: 480px;
    }
  .group_profit{
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
  }
  .group_profit p {
  max-width: 480px;
  }
  
  .prof_img img{
    position: relative;
    width: 96%;
    max-width: 300px;
    max-height: 200px;
    margin: 0 auto;
    text-align: center;
  }

/*##################################*/
/*HERO*/
/*##################################*/

  #hero_section{
      grid-area:hero;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-content: center;
      /* border: orange 2px solid; */
  }
  .hero_img {
    margin: 0 auto
    
    /* border: red solid 3px; */
    /* border-radius: 100%; */

}

  .hero_img img{
    background-size: cover;
    background-repeat:no-repeat;
    margin: auto;
    width: 100%;
    display: inline-block;
    height: 100%;
    max-width: 240px;
    max-height: 240px; 
    
    /* border: red solid 3px; */
    /* border-radius: 100%; */

}

.hero_txt{
    margin: auto;
    text-align: center;
}


/*##################################*/
/*profit*/
/*##################################*/

#profit_section{
    grid-area:prof;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
    /* border: orange 2px solid; */
}

#profit_section p{
  text-align: left;
}


/*##################################*/
/*audit*/
/*##################################*/

#audit_section{
    grid-area:aud;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
    /* border: orange 2px solid; */
}

#audit_section  p{
  text-align: left;
}
/*##################################*/
/*implement*/
/*##################################*/

#implement_section{
    grid-area:imp;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
    /* border: orange 2px solid; */
}

#implement_section p{
  text-align: left;
}

.highlight{
  color: #FF6633 !important; 
}

@media(min-width:900px){
  .container{
    display: grid;
    width: 100%;
    margin: auto;
    grid-gap: 1rem;
    /* grid-template-rows: 60px 45vh 45vh 45vh 45vh; */
    /* grid-auto-rows: minmax(400px, auto); */
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "nav nav nav nav nav nav nav nav nav nav nav nav"
                        "hero hero hero hero hero hero hero hero hero hero hero hero"
                        "prof prof prof prof prof prof prof prof prof prof prof prof"
                         "aud aud aud aud aud aud aud aud aud aud aud aud"
                         "imp imp imp imp imp imp imp imp imp imp imp imp"
                         "footer footer footer footer footer footer footer footer footer footer footer footer";
    justify-content: center;
    /* border: red 2px solid; */
  }


  .hero_txt{
    /* margin-left: 45px; */
    text-align: left;
    width:580px;
    
}
#hero_section{
  justify-content:start ;
  height: 400px;
  /* border: orange 2px solid; */
}



.group_profit_rev{
  display: flex;
  flex-flow: row-reverse wrap;
  padding: 20px;
}

.group_profit_rev p {
  max-width: 480px;
  }
.group_profit{
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
}
.group_profit p {
max-width: 480px;
}

.prof_img img{
  position: relative;
  width: 96%;
  max-width: 300px;
  max-height: 200px;
  margin: 0 auto;
  text-align: center;
}

}