@import url("https://use.typekit.net/mez4yxz.css");

@import "./footer.css";

/*##################################*/
/* GENERAL SETTINGS */
/*##################################*/
h2,h1,h3{
    color: #44d62c;

  }
  h1{
    font-size:2rem;
  }
  p{
    color: #CCCCCC;
  }

  .button{
    text-decoration: none;
    color:#44d62c ;
  }
  .button:hover{
    text-decoration: none;
    color:#FF6633 ;
  }
  
  
  body {
    margin: 0;
    font-family: hack, sans-serif;
    background: #38444c;
    color:floralwhite;
  }

  .container{
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto;
    grid-gap: 1rem;
    /* grid-template-rows: 60px 45vh 45vh 45vh 45vh; */
    /* grid-auto-rows: minmax(400px, auto); */
    grid-template-columns:1fr;
    grid-template-areas: "main"
                          "res"
                         "footer";
    justify-items: center;
    /* border: red 2px solid; */
  }

  .block-heading{
    text-align: center;
  }
  
  .block-heading h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 30px; */
    padding-bottom: 0;
    font-size: 1.5rem;
  
  
  }


/*##################################*/
/*sections*/
/*##################################*/
  .section{
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    padding: 5vh;
    
    /* border: rgb(0, 255, 128) 2px solid; */
  }



/*##################################*/
/*HERO*/
/*##################################*/

  #main{
      grid-area:main;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-content: center;
      /* border: orange 2px solid; */
  }

  #res{
    grid-area:res;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
    /* border: orange 2px solid; */
}
  

@media(min-width:900px){
  .container{
    display: grid;
    width: 100%;
    margin: auto;
    grid-gap: 1rem;
    /* grid-template-rows: 60px 45vh 45vh 45vh 45vh; */
    /* grid-auto-rows: minmax(400px, auto); */
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "main main main main main main main main main main main main"
                          "res res res res res res res res res res res res"
                         "footer footer footer footer footer footer footer footer footer footer footer footer";
    justify-content: center;
    /* border: red 2px solid; */
  }

  #main{
    grid-area:main;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    /* border: orange 2px solid; */
}
#res{
  grid-area:res;
  display: flex;
  flex-flow: column;
  align-content: center;
  /* border: orange 2px solid; */
}

.form_group{
  display: flex;
  flex-flow: row wrap;

}


}